@font-face {
  font-family: 'TheSecret';
  src: url('/assets/fonts/TheSecret-regular-webfont.eot'),
  url('/assets/fonts/TheSecret-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/TheSecret-regular-webfont.woff') format('woff'),
  url('/assets/fonts/TheSecret-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/TheSecret-regular-webfont.svg#TheSecret_regular') format('svg');
  font-style: normal;
  font-weight: normal;
}
