h1, h2 {
  font-family: 'Great Vibes';
}

h2 {
  margin-top: 1rem;
}

h5 {
  color: $secondary-color;
}

body {
  @include breakpoint(small only){
    p, li, .useful-info-item {
      font-size: 14px;
    }
  }
}

.hero-header {
  color: $white;
  text-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.small-header, .subheader, .slider-name, .slider-role {
  font-family: 'Averia Serif Libre', Georgia, serif;
}

.small-header {
  color: $white;
  text-shadow: 0 2px 6px rgba(0,0,0,.2);
  text-transform: uppercase;
  margin: -1.5rem 0 .5rem 0;
  font-size: 1.5rem;

  @include breakpoint(large down) {
    font-size: 1.2rem;
  }

  @include breakpoint(small only) {
    font-size: 1rem;
    margin-top: -.5rem;
  }
}

.subheader {
  color: $white;
  font-size: 1rem;
  text-shadow: 0 2px 6px rgba(0,0,0,.2);
  margin: 0;

  &.lightblue {
    color: #C5E5D9;
  }
}

.section-header {
  text-align: center;

  &.white {
    color: $white;
  }

  &.blue {
    color: $primary-color;
  }
}

hr {
    display:block;
    border:0px;
    height:15px;
    margin-top: 0;

    &.hr-white {
      background: url('../img/break-image-white.png') no-repeat center;
      opacity: .7;
    }

    &.hr-blue {
      background:url('../img/break-image.svg') no-repeat center;
    }
}

.lead {
  font-family: 'Poppins', sans-serif;
  color: $dark-gray;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 2rem 2rem 2.5rem 2rem;
}

a {
  font-weight: bold;
  border-bottom: 1px dotted $primary-color;
  transition: .5s all;

  &:hover {
    color: $secondary-color;
    border-color: $secondary-color;
  }
}
