.cruise-information {
  box-shadow: 0 2px 30px rgba($black, 0.3);
  color: $white;

  a {
    color: $tertiary-color;
    border-bottom: 1px dotted $tertiary-color;

    &:hover {
      color: $white;
      border-color: $white;
    }
  }

  .section-header {
    .subheader {
      margin: -.5rem 0 .5rem;;
    }
  }
}
