.instructions.section-container {
  padding-bottom: 0;
}

.instruction-block {
  display: flex;
  margin: 2rem 1rem;

  @include breakpoint(small only){
    margin: 2rem 0;
  }
}

.step-1, .step-3 {
  border-right: 1px dashed $light-gray;

  @include breakpoint(small only){
    border: 0;
  }
}

.step-2 {
  @include breakpoint(small only){
    border-top: 1px dashed $light-gray;
  }
}

.step-3, .step-4 {
  border-top: 1px dashed $light-gray;
}

.instruction-info {
  margin: .5rem 1rem 0 1rem;

  @include breakpoint(small only) {
    margin-top: .1rem;
  }

  ul {
    list-style: none;
    margin-left: 0;
  }
}

.useful-info {
  .section-header {
    img, h4 {
      display: inline-block;
    }

    img {
      margin: -.3rem .5rem 0 0;
    }
  }
}

.useful-info-item-container {
  margin-top: 2rem;

  .useful-info-item {
    padding: 1.5rem;
    background-color: $primary-color;
    color: $white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);

    @include breakpoint(small only) {
      margin: .5rem 0;
    }
  }
}
