.instruction-block {
  display: flex;
  margin: 2rem 0;
}

.instruction-info {
  margin: .5rem 1rem;

  @include breakpoint(small only) {
    margin-top: .1rem;
  }

  ul {
    list-style: none;
    margin-left: 0;
  }
}

.useful-info {
  .section-header {
    img, h4 {
      display: inline-block;
    }

    img {
      margin: -.3rem .5rem 0 0;
    }
  }
}

.useful-info-item-container {
  margin-top: 2rem;

  .useful-info-item {
    padding: 1.5rem;
    background-color: $primary-color;
    color: $white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    
    @include breakpoint(small only) {
      margin: .5rem 0;
    }
  }
}
