.with-the-bride, .with-the-groom {
  text-align: center;

  h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $tertiary-color;
  }
  .decorative-text {
    font-family: 'thesecret';
    font-size: 2rem;
    margin-left: .5rem;
    color: $white;
  }
}
