.wedding-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px dashed $light-gray;
  background: url('../img/vines-bg.png');
  background-size: cover;
}

.wedding-information-item {
  margin-bottom: $global-margin;

  img {
    margin: .5rem 0;
  }

  p {
    margin: 0;
  }
}
