<div class="row hide-for-small-only">
  <div class="column">
    <ul class="dropdown menu navbar flex-container align-spaced" data-dropdown-menu>
      <li>
        <a href="#">Henry & Caroline</a>
      </li>
      <li>
        <a href="#">Wedding Party</a>
      </li>
      <li>
        <a href="#">Cruise Information</a>
        <ul class="menu vertical">
          <li><a href="#">Need to Know</a></li>
          <li><a href="#">Itinerary</a></li>
          <li><a href="#">Wedding Info</a></li>
          <li><a href="#">Reservation Instructions</a></li>
        </ul>
      </li>
      <li>
        <a href="#">RSVP</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>
