<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Menu -->
  <ul class="vertical menu off-canvas-menu">
    <li><a href="#timeline">Henry & Caroline</a></li>
    <li><a href="#wedding-party">Wedding Party</a></li>
    <li><a href="#need-to-know">Cruise Information</a></li>
    <li><a href="#instructions">Reservation Instructions</a></li>
    <li><a href="#rsvp">RSVP</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>
