<div class="wedding-information" style="background-color: #ededed;" data-equalizer-watch>
  <div class="section-header blue">
    <h2>Wedding Information</h2>
    <hr class="hr-blue">
  </div>
  <div>
    <div class="wedding-information-item">
      <img src="{{root}}assets/img/boat-icon.png" alt="boat icon" width="90">
      <p>The ceremony will take place at sea</p>
      <h5>Saturday March 24</h5>
    </div>
    <div class="wedding-information-item">
      <img src="{{root}}assets/img/ring-icon.png" alt="ring icon" width="90">
      <p>The ceremony will begin at</p>
      <h5>3:30 PM</h5>
    </div>
  </div>
  <p class="lead">More information regarding the Wedding Ceremony and its associated events will be posted closer to the cruise.</p>
</div>
