<div class="wedding-party section-container">
  <div class="section-header white">
    <h2>The Wedding Party</h2>
    <hr class="hr-white">
  </div>

  <div class="row">
    <div class="medium-8 column with-the-bride">
      <h5>With the <span class="decorative-text">Bride</span></h5>
      <div class="with-bride-slider flex-container align-spaced">
        {{#repeat 3}}
        <div class="slider-item">
          <img src="https://unsplash.it/100" alt="">
          <h4 class="slider-name">Lucy Liu</h4>
          <h4 class="slider-role">Bridesmaid</h4>
        </div>
        {{/repeat}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 column with-the-groom">
      <h5>With the <span class="decorative-text">Groom</span></h5>
      <div class="with-groom-slider flex-container align-spaced">
        {{#repeat 3}}
        <div class="slider-item">
          <img src="https://unsplash.it/100" alt="">
          <h4 class="slider-name">Lucy Liu</h4>
          <h4 class="slider-role">Bridesmaid</h4>
        </div>
        {{/repeat}}
      </div>
    </div>
  </div>

</div>
